.color {
  width: 50px;
  height: 50px;
  display: inline-block;
}

#cor1 {
  border: solid black 1px;
}

#cor2 {
  border: solid black 1px;
}

#cor3 {
  border: solid black 1px;
}

#cor4 {
  border: solid black 1px;
}

.pixel {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
  border: solid black 1px;
}

#clear-board{
    margin: 10px;
    width: 100px;
    height: 30px;
}

#input :nth-child(1){
    display:block;
    margin: 15px;
}

#input :nth-child(2), #input :nth-child(3){
    margin: 15px;
}

#pixel-board :nth-child(n){
  height: 40px;
}