@font-face {
  font-family: BreatheFire;
  src: url(Fontes/breathe-fire-iii-font/BreatheFireIii-PKLOB.ttf);
}

header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 40%;
  min-width: 238px;
  margin-left: auto;
  margin-right: auto;
}

label {
  margin: 10px;
  top: 90%;
}

body {
  background-color: rgb(109, 107, 107);
}

#title {
  flex: 1 1 150px;
  font-family: BreatheFire;
  background: rgba(255, 255, 255, 0.200);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 70px;
}

#colorPicker {
  width: 40px;
  height: 40px;
  margin: 10px;
}

#input {
  position: relative;
  font-family: BreatheFire;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-content: space-around;
  background: rgba(255, 255, 255, 0.200);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  align-items: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 40%;
  min-width: 238px;
}

#btn-grid-size {
  margin: 10px;
  border-radius: 15px;
  width: 80px;
  height: 40px;
  background-color: gray;
  font-family: BreatheFire;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.pixel {
  width: 20px;
  height: 20px;
  background-color: white;
  border: solid black 1px;
  display: inline-block;
  bottom: 0px;
  margin: 0px;
}

#size-grid {
  margin: 5px;
  padding: 2px;
  width: 35px;
  height: 25px;
}

#clear-board {
  margin: 10px;
  border-radius: 15px;
  width: 80px;
  height: 40px;
  background-color: gray;
  font-family: BreatheFire;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

#grid :nth-child(n) {
  height: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#grid {
  margin-top: 30px;
  padding: 10px;
}